**
!pyproject.toml
!uv.lock
!.python-version
!README.md
!src/
!src/**
!manifests/
!manifests/**
!expected_outputs/
!expected_outputs/**
!docker/
!expected_outputs/
!expected_outputs/**
!docker/**
**/__pycache__/
**/*.pyc
